@import '../../../globals/styles/base';

.Navigation {
    color: $andela-grey-text;

    .navigation-logo {
        display: inline-block;
        background-image: url("../../../assets/a-logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: center;
        width: 10rem;
        height: 3rem;
        line-height: 2rem;

        @include smm {
            margin-bottom: 1rem;
        }

    }
    li.nav-item {
        margin-left: 1.2rem;

        @include smm {
            margin-left: 0;
            margin-top: 1.2rem
        }
    }
    .dropdown-divider {
        @include smm {
            border-top: 1px solid #fff;
        }
    }
    .dropdown-menu {
        @include smm {
            border: 1px solid #fff;
        }
    }
}
